.Achievement-card {
  height: 20.06rem;
  background: #fffefe;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.image {
  box-sizing: border-box;
  max-height: 5rem;
  max-width: 5rem;
  border-radius: 50%;
  margin-top: 1.5rem;
  border: 0.31rem solid #94e1d3;
}

.card-title {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.37rem;
  text-transform: uppercase;
  color: #000000;
}

.card-desc {
  width: 10.41rem;
  margin-top: 1rem;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  text-transform: lowercase;
  padding: 0;
  color: #6f6f6f;
}

.more {
  width: 2.56rem;
  height: 1.43rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  text-decoration-line: underline;
  text-transform: capitalize;
  margin-top: -1.5rem;
  color: #000000;
}
